@import 'colors';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-padding-top: 82px;
}

body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background-color: $bg-color;
}

h2 {
    text-align: center;
    text-transform: uppercase;
}

.underline {
    margin: 0 auto 40px;
    width: 60px;
    height: 4px;
    background-color: $main-color;
}



.blue-text {
    color: $main-color;
}

.shadow-bg {
    background-color: rgba(0, 0, 0, .8);
}

nav {
    text-transform: uppercase;
    transition: background-color .6s;
    z-index: 1;

    a,
    i {
        color: $white;
    }

    a:hover {
        color: $main-color;
    }

    .fa-bars {
        padding: 10px;
    }

    .navbar-brand {
        font-weight: bold;
    }

    .active {
        color: $main-color;
    }
}






header {
    color: $white;

    h1 {
        font-size: 30px;
        text-transform: uppercase;
    }

    p {
        font-size: 14px;
    }

    .hero-img {
        position: relative;
        height: 100vh;
        background-image: url('../img/header-img-big.jpg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        z-index: 0;
    }

    .hero-shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        z-index: -10;
    }

    .hero-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        padding: 10px;
        text-align: center;
        z-index: 5;
    }

    .btn-outline-light {
        text-transform: uppercase;
    }

    .fa-chevron-down {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
        font-size: 30px;
        color: $white;
    }

}


.aboutus {
    i {
        margin-top: 20px;
        font-size: 30px;
    }

    .aboutus-card-title {
        font-size: 18px;
        text-transform: uppercase;
    }

    .aboutus-card-text {
        font-size: 14px;
    }

    .aboutus-hover {
        transition: color .3s;
    }

    .aboutus-hover:hover {
        color: $main-color;
    }
}

.aboutus-hero {
    position: relative;
    background-image: url('../img/aboutus-img-samll.jpg');
    background-position: center;
    background-size: contain;
    color: white;
    z-index: 0;

    .aboutus-shadow {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .6);
        z-index: -5;
    }

    .aboutus-hero-item {
        margin: 10px 0;

        i {
            font-size: 40px;
        }
        .aboutus-hero-title {
            font-size: 24px;
        }
    }

}

.portfolio {

    background-color: $bg-color;

    .carousel-item {
        // width: 800px;
        height: 600px;
    }

    .carousel-caption {
        position: absolute;
        left: 0;
        right: 0;
        padding: 40px 0;
        background-color: rgba(0, 0, 0, .8);
    }

    .carousel-indicators {
        padding-bottom: 20px;
    }

}

.prices {

    .price-box {
        margin: 30px 20px;
        padding: 30px;
        background-color: $white;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
        transition: transform .3s;


        h3 {
            text-transform: uppercase;
            color: $main-color;
        }
    
        i {
            padding: 5px;
            font-size: 20px;
        }
        button {
            padding: 10px 20px;
            text-transform: uppercase;
            
        }
    
        span {
            font-weight: bold;
        }
    
        

        .price-tag {
            font-size: 24px;
            font-weight: bold;
        }
    }

    .price-box:hover {
        transform: scale(1.05);
    }

    .price-info {
        margin-top: 30px;
        
        a {
            text-decoration: none;
        }
    }
}

.team {
    position: relative;
    background-image: url('../img/team-bg-img.jpg');
    background-size: cover;
    background-attachment: fixed;
    z-index: 0;

    h2 {
        color: $light-gray;
    }

    .team-shadow {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .6);
        z-index: -5;
        
    }

    .card {
        img {
            height: 300px;
            object-fit: cover;
        }

        i {
            padding: 10px;
        }
    }

    .card:hover {
        transform: scale(.96);
    }

    .card-title {
        margin-bottom: 20px;
        text-align: center;
        text-transform: uppercase;
    }
    .card-body {
        height: 160px;
    }
}

.achievements {
    i {
        padding: 10px;
        font-size: 36px;
        color: $white;
        text-shadow: 0 0 5px #000;
    }

    .achievements-list {
      padding: 20px 0;
    }
    .achievement-number {
        font-size: 22px;
    }
    .achievement-text {
        font-size: 13px;
        text-transform: uppercase;
    }
}


.contact {
    position: relative;
    background-image: url('../img/contact/contact-img-small.jpg');
    background-size: cover;
    z-index: 0;

    h2 {
        color: $light-gray;
        font-weight: bold;
        font-size: 28px;
    }
    .social-media {
        font-size: 20px;
        a {
            padding: 0 10px;
            color: $light-gray;
            
        }
    }


    .contact-shadow {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(9, 47, 90, 0.8);
        z-index: -1;
    }
    .underline {
        background-color: $light-gray;
    }

    .contact-us {
        display: flex;
        align-items: center;
        color: $light-gray;

        .contact-item {
            margin: 30px 0;

            h3 {
                font-size: 25px;
                text-transform: uppercase;
            }
            
            
        }
    }
}





@media(min-width: 375px) {
    header {
        h1 {
            font-size: 36px;
        }

        p {
            font-size: 16px;
        }
    }
}

@media(min-width: 768px) {
    header {
        h1 {
            font-size: 42px;
        }

        p {
            font-size: 20px;
        }
    }
}

@media(min-width: 992px) {
    nav {
        height: 82px;
    }

    .aboutus-hero {
        background-image: url('../img/aboutus-img-big.jpg');
    }

    .price-info {
        font-size: 18px;
    }

    .team {
        background-image: url('../img/team-bg-img-big.jpg');
    }

    .contact {
        background-image: url('../img/contact/contact-img-big.jpg');
    }

    
}

@media(min-width: 1200px) {
    header {
        .hero-img {
            background-image: url('../img/header-img-big.jpg');
        }
    }
}